.Grid {
	display: flex;
}

.Grid-cell {
	flex: 1;
}

/* Grid--gutters */
.Grid--gutter {
	margin-left: -$GutterSize;
}

.Grid--gutter > .Grid-cell {
	padding-left: $GutterSize;
}

/* Grid-cell positioning by container */
.Grid--alignTop {
	align-items: flex-start;
}

.Grid--alignCenter {
	align-items: center;
}

.Grid--alignBottom {
	align-items: flex-end;
}

/* Grid-cell positioning by self */
.Grid-cell--top {
	align-self: flex-start;
}

.Grid-cell--center {
	align-self: center;
}

.Grid-cell-bottom {
	align-self: flex-end;
}

/* Grid-cell Sizes by Container*/
.Grid--fit > .Grid-cell {
	flex: 1;
}

.Grid--oneCell > .Grid-cell {
	flex: 0 0 100%;
}

.Grid--twoCells > .Grid-cell {
	flex: 0 0 50%;
}

.Grid--threeCells > .Grid-cell {
	flex: 0 0 33.3333%;
}

.Grid--fourCells > .Grid-cell {
	flex: 0 0 25%;
}

/* Grid-cell Sizes by self; via Utility */
.u-halfWidth, .u-thirdWidth, .u-quarterWidth {
	flex: none !important;
}

.u-halfWidth {
	width: 50% !important;
}

.u-thirdWidth {
	width: 33.333% !important;
}

.u-quarterWidth {
	width: 25% !important;
}

/* Media Queries for Grid-cell Sizes */

@media #{$Screen--small} {
	.small-Grid--fit > .Grid-cell {
		flex: 1;
	}

	.small-Grid--oneCell > .Grid-cell {
		flex: 0 0 100%;
	}

	.small-Grid--twoCells > .Grid-cell {
		flex: 0 0 50%;
	}

	.small-Grid--threeCells > .Grid-cell {
		flex: 0 0 33.333%;
	}

	.small-Grid--fourCells > .Grid-cell {
		flex: 0 0 25%;
	}

	.u-halfWidth--smallScreen {
		width: 50%;
	}

	.u-thirdWidth--smallScreen {
		width: 33.333%;
	}

	.u-quarterWidth--smallScreen {
		width: 25%;
	}
}

@media #{$Screen--medium} {
	.medium-Grid--fit > .Grid-cell {
		flex: 1;
	}

	.medium-Grid--oneCell > .Grid-cell {
		flex: 0 0 100%;
	}

	.medium-Grid--twoCells > .Grid-cell {
		flex: 0 0 50%;
	}

	.medium-Grid--threeCells > .Grid-cell {
		flex: 0 0 33.333%;
	}

	.medium-Grid--fourCells > .Grid-cell {
		flex: 0 0 25%;
	}

	.u-halfWidth--mediumScreen {
		width: 50%;
	}

	.u-thirdWidth--mediumScreen {
		width: 33.333%;
	}

	.u-quarterWidth--mediumScreen {
		width: 25%;
	}
}

@media #{$Screen--large} {
	.large-Grid--fit > .Grid-cell {
		flex: 1;
	}

	.large-Grid--oneCell > .Grid-cell {
		flex: 0 0 100%;
	}

	.large-Grid--twoCells > .Grid-cell {
		flex: 0 0 50%;
	}

	.large-Grid--threeCells > .Grid-cell {
		flex: 0 0 33.333%;
	}

	.large-Grid--fourCells > .Grid-cell {
		flex: 0 0 25%;
	}

	.u-halfWidth--largeScreen {
		width: 50%;
	}

	.u-thirdWidth--largeScreen {
		width: 33.333%;
	}

	.u-quarterWidth--largeScreen {
		width: 25%;
	}
}

@media #{$Screen--xlarge} {
	.xlarge-Grid--fit > .Grid-cell {
		flex: 1;
	}

	.xlarge-Grid--oneCell > .Grid-cell {
		flex: 0 0 100%;
	}

	.xlarge-Grid--twoCells > .Grid-cell {
		flex: 0 0 50%;
	}

	.xlarge-Grid--threeCells > .Grid-cell {
		flex: 0 0 33.333%;
	}

	.xlarge-Grid--fourCells > .Grid-cell {
		flex: 0 0 25%;
	}

	.u-halfWidth--xlargeScreen {
		width: 50%;
	}

	.u-thirdWidth--xlargeScreen {
		width: 33.333%;
	}

	.u-quarterWidth--xlargeScreen {
		width: 25%;
	}
}

@media #{$Screen--xxlarge} {
	.xxlarge-Grid--fit > .Grid-cell {
		flex: 1;
	}

	.xxlarge-Grid--oneCell > .Grid-cell {
		flex: 0 0 100%;
	}

	.xxlarge-Grid--twoCells > .Grid-cell {
		flex: 0 0 50%;
	}

	.xxlarge-Grid--threeCells > .Grid-cell {
		flex: 0 0 33.333%;
	}

	.xxlarge-Grid--fourCells > .Grid-cell {
		flex: 0 0 25%;
	}

	.u-halfWidth--xxlargeScreen {
		width: 50%;
	}

	.u-thirdWidth--xxlargeScreen {
		width: 33.333%;
	}

	.u-quarterWidth--xxlargeScreen {
		width: 25%;
	}
}