.Input {
	display: flex;
	flex-direction: column;
	min-height: $FontSize--input;
	padding-top: $FontSize--input * 2;
}

.Input-field {
	flex: 1;
	resize: none;
	font-size: $FontSize--input;
	font-family: $FontFamily-global;
	&::-webkit-input-placeholder {
		font-family: $FontFamily-global;
	}
}

.ErrorField {
	flex: 1;
	padding: 0.5em 0.75em .4em 0.75em;
	font-size: $FontSize--input;
	opacity: 0;
	margin-top: -3px;
	color: $AlertColor;
	transition: all .3s ease-in-out;
	&.active {
		opacity: 1;
		transition: all .3s ease-in-out;
	}
}

.TextareaAutosize {
	font-size: $FontSize--input;
	min-height: $FontSize--input;
	font-family: $FontFamily-global;
}

/* Input styling */
.Input--material {
	position: relative;
	> .Input-field {
		padding: 0.5em 0.75em;
		border: none;
		border-bottom: solid 3px $GlobalGrey;
		transition: border .3s ease-in-out;
		&:focus {
			outline: none;
			border-bottom: solid 3px $AccentColor;
		}
		&:only-child {
			margin-bottom: 0;
		}
	}
	> .ErrorField {
		border-top: solid 3px $AlertColor;
		position: absolute;
		width: -webkit-calc(100% - 1.5em);
	}
	> select {
		background: none;
		border: none;
		height: $FontSize--input * 3;
		border-bottom: solid 3px $GlobalGrey;
		transition: all.3s ease-in-out;
		&:focus {
			outline: none;
			border-bottom: solid 3px $AccentColor;
			transition: all .3s ease-in-out;
		}
	}
	> input[type="checkbox"] {
		display: none;
		+ label {
			position: relative;
			font-size: $FontSize--input;
			top: -$FontSize--input / 2;
			cursor: pointer;
			&:before {
				content: "";
				display: inline-block;
				border: 2px solid $GlobalGrey;
				height: $FontSize--input * 1.5;
				width: $FontSize--input * 1.5;
				margin-right: 10px;
				position: relative;
				top: $FontSize--input * .5;
				transition: all .3s ease-in-out;
			}
			&:after {
				content: "";
				display: inline-block;
				border: 2px solid $AccentColor;
				border-top: none;
				border-right: none;
				height: $FontSize--input;
				width: $FontSize--input * 2;
				position: absolute;
				left: 0;
				top: $FontSize--input * .5;
				-webkit-transform: rotate(180deg);
				opacity: 0;
				transition: all .3s ease-in-out;
			}
		}
		&:checked + label {
			&:before {
				-webkit-transform: rotate(180deg);
				opacity: 0;
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				opacity: 1;
			}
		}
	}
	> input[type="radio"] {
		display: none;
		+ label {
			position: relative;
			font-size: $FontSize--input;
			top: -$FontSize--input / 2;
			cursor: pointer;
			&:before {
				content: "";
				display: inline-block;
				border: 2px solid $GlobalGrey;
				border-radius: 50%;
				height: $FontSize--input * 1.5;
				width: $FontSize--input * 1.5;
				margin-right: 10px;
				position: relative;
				top: $FontSize--input * .5;
			}
			&:after {
				content: "";
				display: inline-block;
				border: 2px solid $AccentColor;
				border-radius: 50%;
				background-color: $AccentColor;
				height: 0;
				width: 0;
				opacity: 0;
				position: absolute;
				top: $FontSize--input * 1.25;
				left: $FontSize--input * .75;
				transition: all .1s ease-out;
			}
		}
		&:checked + label {
			&:after {
				opacity: 1;
				height: $FontSize--input;
				width: $FontSize--input;
				top: $FontSize--input * .75;
				left: $FontSize--input * .25;
			}
		}
	}
}