$GutterSize: 1em;

$Screen: 'only screen' !default;

$SmallRange: (0em, 40em); /* 0 - 640px */
$MediumRange: (40.063em, 64em); /* 641px - 1024px */
$LargeRange: (64.063em, 90em); /* 1025px - 1440px */
$XlargeRange: (90.063em, 120em); /* 1441px - 1920px */
$XxlargeRange: (120.063em); /* 1921px */

$Screen--small: '#{$Screen} and (max-width: #{upper-bound($SmallRange)})';
$Screen--medium: '#{$Screen} and (min-width: #{lower-bound($MediumRange)}) and (max-width: #{upper-bound($MediumRange)})';
$Screen--large: '#{$Screen} and (min-width: #{lower-bound($LargeRange)}) and (max-width: #{upper-bound($LargeRange)})';
$Screen--xlarge: '#{$Screen} and (min-width: #{lower-bound($XlargeRange)}) and (max-width: #{upper-bound($XlargeRange)})';
$Screen--xxlarge: '#{$Screen} and (min-width: #{lower-bound($XxlargeRange)})';

$FontSize: 1em;
$FontSize--input: 1em;

$FontFamily-global: 'Sans-serif';

$PrimaryColor: #3F51B5;
$PrimaryColor--lighten: #C5CAE9;
$PrimaryColor--darken: #303F9F;

$AccentColor: #FF4081;

$AlertColor: #D50000;

$GlobalGrey: #C9C9C9;